<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40"  *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ baseURL + dish.image }}" alt="{{dish.name}}">
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="container"
       fxLayout="column"
       fxLayoutGap="10px">
    <div fxFlex="40"  *ngIf="dish">

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Comments</h3>
          </mat-card-title>
        </mat-card-header>
        <!-- img mat-card-image src="{{dish.image}}" alt="{{dish.name}}" -->
        <mat-card-content>
          <mat-list *ngFor="let comment of dish.comments">
            <mat-list-item>
              {{comment.comment}} <br>
              {{comment.rating}} Stars!<br>
              --{{comment.author}}, {{comment.date | date : "MMM.dd,yyyy"}}
            </mat-list-item><br><br><br>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--div *ngIf="commentForm.valid">
      <ul style="list-style-type:none;">
        <li>{{commentForm.value.comment}} </li>
        <li>{{commentForm.value.rating}} stars!</li>
        <li>--{{commentForm.value.author}}</li>
      </ul>
    </div-->

    <div fxFlex fxFlexOffset="20px" >
      <h3>Send us your Opinion</h3>
      <!--p>{{ commentForm.value | json }} {{ commentForm.status | json }}</--p-->
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
          </mat-form-field>
        </p>

        <mat-slider formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1" required></mat-slider>
        <mat-error *ngIf="formErrors.rating">{{formErrors.rating}}</mat-error>

        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your comment" rows=12 required></textarea>
            <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
          </mat-form-field>
        </p>
        <button  [disabled]="!commentForm.valid" type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      </form>
    </div>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>


